@import "./reset.less";
@import "./fonts.less";

html, body {
  font-family: 'Conthrax';
  background-color: black;
}

.logo {
  width: 363px;
  height: 123px;
  background-image: url("../images/software4rc-logo.png");
  background-size: cover;
  background-repeat: no-repeat;
}
