@import "./reset.less";
@import "./fonts.less";

@import "./vars.less";

@import "./header.less";
@import "./logos.less";
@import "./section.less";
@import "./footer.less";

html, body {
  font-family: 'Conthrax';
  color: white;
  background-color: @bg;
  padding: 0px 4%;
}
p {
  font-family: 'Tahoma';
}
